.star {
    width: 0;
    height: 0;
    margin: 50px 0;
    color: #eb1c1d;
    position: relative;
    display: block;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #eb1c1d;
    border-left: 100px solid transparent;
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}

.star:before {
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    top: -45px;
    left: -65px;
    border-bottom: 80px solid #eb1c1d;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
}

.star:after {
     content: '';
     width: 0;
     height: 0;
     position: absolute;
     display: block;
     top: 3px;
     left: -105px;
     color: #eb1c1d;
     border-right: 100px solid transparent;
     border-bottom: 70px solid #eb1c1d;
     border-left: 100px solid transparent;
     -webkit-transform: rotate(-70deg);
     -moz-transform: rotate(-70deg);
     -ms-transform: rotate(-70deg);
     -o-transform: rotate(-70deg);
 }